.announcement {
    background-color: #e67e22;
}

.left p{
    font-size: 14px;
    color: #fff;
    padding-top: 15px;
    float: left;
    padding-left: 150px;
}

.right ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    float: right;
    padding-right: 150px;
}

.right ul li{
    list-style-type: none;
}

.right ul li a{
    font-size: 14px;
    text-align: left;
    padding-right: 20px;
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px)  {
    .left p{
        padding-left: 0px;
        float: none;
        text-align: center;
    }
    .right ul {
        padding-right: 0px;
        float: none;
        justify-content: center;
        width: auto;
        border-top: 1px solid #ecf0f1;
        padding: 0;
    }
}

