/*First Banner section*/
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    opacity: 0.2;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay:hover {
    overflow: visible;
    width: 100%;
}

.LeftImages {
    width: 100%;
    height: 600px;
    margin: 8px;
}
.RightImages {
    width: 100%;
    height: 600px;
    margin:10px;
}

@media only screen and (max-width: 767px) and (min-width: 320px)  {
    .LeftImages {
        width: 100%;
        height: 300px;
        margin: 5px 0px;
    }
    .RightImages {
        width: 100%;
        height: 300px;
        margin: 5px 0px;
    }
}
/* second banner section */
.SecondBanner {
    width: 100%;
    height: 208px;
    margin:5px
}

/* Bottom Big Banner section */
.BigBannerContainer {
    padding: 10px;
}

.BigBannerImg {
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 767px) and (min-width: 320px)  {
    .BigBannerImg {
        height: 200px;
    }
}
/* Bottom Banner section */
.GridDesign {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 10px;
    height: 150px;
    width: auto;
}
.BannerWrap {
    margin: 10px;
}
.BottomBannerImg {
    width: 100%;
    height: auto;
    margin: 5px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
    .GridDesign {
        height: auto;
        width: auto;
    }
    .GridDesign {
        grid-template-columns: 6fr 6fr;
    }
}

