.MainContainer {
    padding: 50px 0px;
}

.MiddleSectionContainer {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.MiddleSectionContainer h2 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 5px;
}

.innerRow {
    border-bottom: 1px solid #bdc3c7;
}

.sectionTitle h4 {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 320px)  {
   .MobileColWidth {
       width: 25%;
   }
   .sectionTitle h4 {
    font-size: 14px;
   }
   .innerRow {
       padding: 0px 7px;
   }
}

